.ant-card-body {
	padding: 15px;
}
.ant-row.ant-form-item {
	margin-bottom: 15px;
}
.ant-form-item label {
	font-weight: 600;
}
.ant-statistic-content-value {
	font-size: 13px;
	color: red;
}
.ant-statistic-content {
	font-size: small;
}
